<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Calculator | LaskowskiMat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/e03b286a27.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        Loan Calculator 
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <nav>
            <ul>
                <li>
                    
                    <a href="https://mail.google.com/"><i class="fa-regular fa-envelope" style="color: #00ffff;"></i>  mtlaskowski7@gmail.com</a>
                </li>
                <li>
                    
                    <a href="https://github.com/mlaskowski7"><i class="fa-brands fa-github" style="color: #00ffff;"></i>  mlaskowski7</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>